.container {
<<<<<<< HEAD
   
=======
>>>>>>> 6f3b4a7255c36bd6167dd9fd61cfa537bffb0f2a
    width: 100vh;
    min-width: 100%;
    min-height: 100vh;
    max-height: none;
    z-index: -1;
  }
  .content {
    position: absolute;
    text-align: center;
    font-size: x-large;
    font-family: 'Dosis', sans-serif;
    color: white;
    margin-top: 6rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
  }