
.splitLeft {
    height: 30%;
    width: 30%;
    position: absolute;
    z-index: 1;
    top: 15%;
    overflow: hidden;
    padding-top: 20px;
    border: solid 2px green;

}
.splitRight {
    height: 60%;
    width: 70%;
    right: 0;
    position: absolute;
    z-index: 1;
    top: 15%;
    overflow: hidden;
    padding-top: 20px;
    border: solid 2px green;

}

.headlineContainer {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 70%;
    height: fit-content;
    border: solid 2px yellowgreen;
    overflow: hidden;
    margin-bottom: 5px;
    font-size: 36px;
    color: snow;
    text-align: center;
}

.subHeadlineContainer {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 70%;
    height: fit-content;
    border: solid 2px yellowgreen;
    overflow: hidden;
    margin-bottom: 5px;
    font-size: 24px;
    color: snow;
    text-align: center;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width: 50%;
    border-radius: 50%;
}  

.info {
    line-height: 1.5;
    font-size: 24px;
    color: snow;

}

.footerContainer {
    position: absolute;
    bottom: 0;
    padding: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 70%;
    border: solid 2px yellowgreen;
    font-size: 36px;
    z-index: 1;
}
.button {
    margin-top: 2rem;
    background-color: pink;
    z-index: 10;

}
.button :hover {
    background-color: springgreen;
}
.button :active {
    background-color: black;

}
